/* GLOBAL*/

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
}

h1 {
  font-size: 40px;
  font-weight: 500;
}

span {
  color: #357b70;
  font-weight: bold;
}

a {
  color: #357b70;
}

a:visited {
  /* visited link */
  color: #e0b354;
}

a:hover,
a:focus {
  /* No underlining when hovering over a link */
  text-decoration: none;
}

a:active {
  /* selected link */
  color: #2b2b2b;
}

.button {
  margin: 10px;
  /* overwrites browser defaults and resets the border */
  border: none;
  /* takes the font from the outer container */
  font-family: inherit;
  /* styles the background color, font color, and text decoration (underline, etc.) of the button */
  background-color: #357b70;
  color: #fff;
  text-decoration: none;
  /*adds spacing to the button (this will be discussed more in-depth later) */
  padding: 10px;
  border-radius: 3px;
  /* gives the button a bottom border with a width of 2px, a type of solid, and a color in RGBA format */
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  transition: opacity 0.2s;
}

button {
  margin: 10px;
  /* overwrites browser defaults and resets the border */
  border: none;
  /* takes the font from the outer container */
  font-family: inherit;
  /* styles the background color, font color, and text decoration (underline, etc.) of the button */
  background-color: #357b70;
  color: #fff;
  text-decoration: none;
  /*adds spacing to the button (this will be discussed more in-depth later) */
  padding: 10px;
  border-radius: 3px;
  /* gives the button a bottom border with a width of 2px, a type of solid, and a color in RGBA format */
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  transition: opacity 0.2s;
}

.button:hover,
.button:focus,
button:hover,
button:focus {
  /* lets the mouse appear as a hand when hovering over the button */
  cursor: pointer;
  /* reduces the opacity of the button to 80% */
  opacity: 0.8;
}

.button__secondary {
  background-color: #e0b354;
  color: #2b2b2b;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/* HEADER */

.page-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 20px;
  margin: auto;
  flex-grow: 1;
}

.page-header__image {
  display: flex;
}

.page-header img {
  width: 200px;
  height: 70px;
}

.page-header__item {
  flex: 0 1 200px;
}

.page-header__item:last-child {
  flex-grow: 1;
  text-align: right;
}

.navigation-list {
  list-style-type: none;
}

.navigation-list li {
  display: inline-block;
}

.navigation-list__item--active {
  text-decoration: none;
}

/* PROFILE */

.profile {
  display: flex;
  max-width: 700px;
  margin: 0 auto;
  flex-grow: 1;
}

.profile__portrait {
  float: left;
  width: 250px;
  margin-right: 40px;
  border-radius: 50%;
}

.profile__content {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.profile__content h4 {
  margin-bottom: 0;
}

/* ABOUT */

.about__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about__container h1 {
  margin: 5px;
}

.about__container p {
  margin: 10px;
}

.about__container ul {
  margin: 0px;
  padding: 0px;
  list-style-type: square;
}

.about__container li {
  display: inline-block;
  font-weight: bold;
  margin: 0 10px;
  padding: 0;
}

.about-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
}

.about-table thead tr {
  background-color: #357b70;
  color: #ffffff;
  text-align: left;
}

.about-table th,
.about-table td {
    padding: 5px 5px;
}

.about-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.about-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.about-table tbody tr:last-of-type {
  border-bottom: 2px solid #357b70;
}

.about-table tbody tr.active-row {
  font-weight: bold;
  color: #357b70;
}

#about-picture {
  margin: 20px auto;
  width: 40%;
  min-width: 350px;
}

/* CONTACT */

.contact-page-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 20px;
  margin: auto;
}

.contact-page-header img {
  width: 200px;
  height: 70px;
}

.contact__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
}

.contact-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0px 20px 0px 20px;

}

.contact-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  column-gap: 100px;
  row-gap: 200px;
  padding: 20px;
}

.contact-items {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-items img {
  display: block;
  width: 100px;
  height: 100px;
  margin: 10px;
  border-radius: 100%;
}

/* .contact__form {
  display: flex;
  flex-direction: column;
  align-items: left;
}

.contact__form input,
.contact__form textarea {
  margin-bottom: 5px;
  border-radius: 3px;
  border: 1px solid #357b70;
  min-width: 200px;
}

.error-message {
  color: red;
  font-size: 0.8em;
} */

/* WORK*/

.projects {
  padding: 20px;
}

.grid__item h2 {
  font-size: 20px;
}

.grid__item p {
  font-size: 12px;
  line-height: 1.2;
}

.grid__item img {
  height: 30%;
}

/* start grid fallback */
.grid__item {
  display: inline-block;
  width: 33%;
  background-color: lightgray;
  padding: 5px 15px;
  width: auto;
  min-height: 0px;
}

/* end grid fallback */

@supports (display: grid) {
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 20px;
  }

  .grid__item {
    background-color: lightgray;
    padding: 5px 15px;
    width: auto;
    min-height: auto;
    max-height: 1200px;
  }

  .grid__item img {
    width: 100%;
    height: 40%;
  }

  .grid__item:last-child {
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 2;
  }
}

/* work end */

/* footer start */

.page-footer {
  clear: both;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  flex-grow: 1;
}

/* footer end */

/* keyframes start */

@keyframes color-change {
  0% {
    fill: #edc655;
  }
  50% {
    fill: #fcffad;
  }
  100% {
    fill: #f76414;
  }
}

@keyframes cloud-move {
  from {
    transform: translate(0, 50px);
  }
  to {
    transform: translate(200px, 50px);
  }
}

@keyframes cloud-move-reverse {
  from {
    transform: translate(446px, 48px);
  }
  to {
    transform: translate(100px, 48px);
  }
}

/* keyframes end */

/* animations start */

.sun {
  animation: 4s color-change infinite alternate linear;
}

.cloud-front {
  animation: 30s cloud-move infinite alternate linear;
}

.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}

/* animations end */

/* media queries start */

@media all and (max-width: 500px) {
  .grid {
    grid-template-columns: 1fr;
  }

  .page-header {
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .page-header__item ul {
    margin: 0;
    padding: 0;
  }

  .profile__portrait {
    width: 150px;
  }

  .about-table {
    min-width: 300px;
  }

  #about-picture {
    min-width: 300px;
  }

  .contact-header h1 {
    font-size: 22px;
  }
  
  .contact-grid {
    grid-template-columns: 1fr 1fr;
    column-gap: 25px;
    row-gap: 50px;
  }
  
  .contact-items img {
    width: 50px;
    height: 50px;
  }

  .grid__item h2 {
    font-size: 20px;
  }

  .grid__item p {
    font-size: 12px;
    line-height: 1.2;
  }

  .grid__item img {
    height: 40%;
  }
}

@media all and (min-width: 500px) and (max-width: 750px) {
  .contact-header {
    margin: 50px;
  }

  .contact-header h1 {
    font-size: 30px;
  }
  
  .contact-grid {
    column-gap: 50px;
    row-gap: 100px;
    padding: 10px;
    margin-left: 0px 20px 0px 20px;
  }
  
  .contact-items {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .contact-items img {
    width: 75px;
    height: 75px;
  }
  
  .grid {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 700px 900px 800px;
  }

  .grid__item h2 {
    font-size: 20px;
  }

  .grid__item p {
    font-size: 12px;
    line-height: 1.2;
  }

  .grid__item img {
    height: 30%;
  }

}

@media all and (max-width: 750px) {
  .grid {
    grid-gap: 10px;
  }
  .grid__item:last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }
  h1 {
    font-size: 22px;
  }

  .profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
  }

  .profile__portrait {
    width: 200px;
    margin-right: 0;
    border-radius: 50%;
  }

  .profile__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

  @media all and (min-width: 750px) and (max-width: 1000px) {
    .grid {
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 700px 900px;
    }

    .grid__item h2 {
      font-size: 20px;
    }

    .grid__item p {
      font-size: 12px;
      line-height: 1.2;
    }

    .grid__item img {
      height: 30%;
    }
  }
}
